div {
  background-image: url("https://assets.codepen.io/144736/save.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 50px;
  min-height: 50px;
}

.border {
  background-origin: border-box;
}

.content {
  background-origin: content-box;
}

body {
  font-family: sans-serif;
  font-size: 1.2rem;
}

div {
  border: 10px solid rgba(255, 0, 255, 0.7);
  margin-bottom: 10px;
}

.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}